In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
def load():
    data=pd.read_csv("titanic.csv")
    return data
def missing_values_table(dataframe,na_name=False):
    na_columns=[col for col in dataframe.columns if dataframe[col].isnull().sum()>0]
    n_miss=dataframe[na_columns].isnull().sum().sort_values(ascending=False)
    ratio=(dataframe[na_columns].isnull().sum() / dataframe.shape[0]*100).sort_values(ascending=True)
    missing_df=pd.concat([n_miss,np.round(ratio,2)],axis=1,keys=["n_miss","ratio"])
    print(missing_df,end="\n")
    if na_name:
        return na_columns

In [3]:
df=load()

In [4]:
na_cols=missing_values_table(df,True)

          n_miss  ratio
Cabin        687  77.10
Age          177  19.87
Embarked       2   0.22

In [5]:
na_cols

['Age', 'Cabin', 'Embarked']

In [14]:
def missing_vs_target(dataframe,target,na_columns):
    temp_df=dataframe.copy()
    for col in na_columns:
        temp_df[col+"_NA_FLAG"]=np.where(temp_df[col].isnull(),1,0)
        
    na_flags=temp_df.loc[:,temp_df.columns.str.contains("_NA_")].columns
    for col in na_flags:
        print(pd.DataFrame({target: temp_df.groupby(col)[target].mean(),
                            "Count":temp_df.groupby(col)[target].count()}),end="\n\n")

In [15]:
missing_vs_target(df,"Survived",na_cols)

             Survived  Count
Age_NA_FLAG
0            0.406162    714
1            0.293785    177

               Survived  Count
Cabin_NA_FLAG
0              0.666667    204
1              0.299854    687

                  Survived  Count
Embarked_NA_FLAG
0                 0.382452    889
1                 1.000000      2